body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.business-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db; /* You can replace this with your desired color */
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #fff;
}

/* Uncomment the following style if using initials for the profile picture */
/*.initials {
    display: inline-block;
    line-height: 100px;
}*/

h1 {
    margin: 10px 0;
    color: #333;
}

p {
    margin: 5px 0;
    color: #555;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
