*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.card{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;

}

button{
    margin: 5px;
    margin-bottom: 30px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}