# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependency directories
# https://www.npmjs.com/package/typescript
typings/

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
