#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

input {
  box-sizing: border-box;
  border: none;
  padding: 10px;
  margin: 10px;
  background-color: #1a1a1a;
  width: 20vw;
}