.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.interests {
  text-align: left;
  padding: 10px;
}

.flex-container {
  display: flex;
  padding: 10px;
}

.card {
  margin-top: 50px;
  box-shadow: 10px;
  background-color: #f2f2f2;
}
